@import './mixin';
@import './normalize';
@import './veraible';

.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width:992px) {
        max-width: 960px;
    }

    @media screen and (max-width:772px) {
        max-width: 740px;
    }

    @media screen and (max-width: 566px) {
        max-width: 540px;
    }
}